@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 nav left bgtop">
    <div class="container">
        <div><img class="logo" src="~/img/fdalogo.png" alt="logo" /></div>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse wrapper">
            <ul class="jt navbar-nav flex-grow-1">
                <li class="nav-item mod">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item mod">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item mod">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                </li>
                <li class="nav-item mod">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutProject">About Project</a>
                </li>
                <li class="nav-item mod">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Recall" asp-action="Index">View Enforcement Details</a>
                </li>
            </ul>
        </div>
        <div class="button"><button> Contact Us </button>  </div>
    </div>
</nav>



