
@{
    ViewData["Title"] = "About Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<!--
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutProject</title>
</head>
<body>
</body>
</html>
-->

<html lang="en">



<head>

    <link rel="stylesheet" type="text/css" href="~/css/about.css">

    <TITLE>FDA</TITLE>

</head>

<body text="white">



    @*<div class="wrapper">

        <div class="nav">

            <div class="left">

                <ul>

                    <li> <a href="index.html" class="mod" href="#">Home</a></li>



                    <li> <a href="data.html" class="mod" href="#">Download Data Model</a></li>

                </ul>

            </div>

        </div>

    </div>*@

    <div class="proj">

        <h1>Food Enforcement Overview</h1>



        <p>

            The openFDA food enforcement reports API returns data from the FDA Recall Enterprise System (RES), a database that contains information on recall event information submitted to FDA.



        </p>

        <p>When an FDA-regulated product is either defective or potentially harmful, recalling that product or removing it from the market or correcting the problem or is the most effective means for protecting the public.</p>



    </div>

</body>

</html>