@model IEnumerable<FoodRecallEnforcements.Models.Enforcement>

@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<!-- -->
    <html>

    <head>

        <title>Food and Nutrional Information</title>

        <link href="~/css/about.css" rel="stylesheet" type="text/css" />

    </head>

    <body>

        @*<div class="wrapper">

            <div class="nav">

                <div class="left">

                    <ul>

                        <li> <a href="index.html" class="mod" href="#">Home</a></li>

                        <li> <a class="mod" href="proj.html">About Project</a></li>

                        <li> <a href="data.html" class="mod" href="#">Download Data Model</a></li>

                    </ul>

                </div>

            </div>*@





            <div class="team">

                <h1>

                    About The Creators:

                </h1>

                <span class="border"></span>

                <div class="ps">

                    <a href="#p1"> <img src="~/img/omkar2.jpg" alt="omkar modak"> </a>

                    <a href="#p2"> <img src="~/img/saahil.jpg" alt="saahil rasheed"> </a>

                    <a href="#p3"> <img src="~/img/saketh.jpeg" alt="saketh gopaluni"> </a>

                </div>



                <div class="section" id="p1">

                    <span class="name">Omkar Modak</span>

                    <span class="border"></span>

                    <p>
                        Bio - Stream BAIS
                        I like playing basketball.
                        I have 3 years of experience in Business Analytics at tech Mahindra.


                    </p>



                </div>



                <div class="section" id="p2">

                    <span class="name">Saahil Rasheed</span>

                    <span class="border"></span>

                    <p>
                        I am currently pursuing a Master's degree in Business Analytics and Information Systems at the University Of South Florida. I have done my Bachelor's in Computer Science Engineering from PES-IT (Now, PES University) in Bangalore.

                        I am excited by the nascent and budding potential of data analytics, which could completely change our perspective of the world for the better. In any case, I am open to learning new languages and tools, whatever the requirement may be.


                    </p>



                </div>



                <div class="section" id="p3">

                    <span class="name">Sai Saketh Gopaluni</span>

                    <span class="border"></span>

                    <p>
                        Stream BAIS
                        Avid sports fan
                        Worked with Accenture for 2 years as a congenial administrator


                    </p>



                </div>





            </div>



            <div class="logo">

                <p style="color:aqua"> ERD: </p> 

                <a href="#">  <img src="~/img/FDA_ER.PNG" alt="data model" object-fit:contain width:100% class="img-responsive" height: 100%> </a>

            </div>

            <div>
                <br />
            </div>
        

        
    </body>
    </html>