
@{
    ViewData["Title"] = "Enforcement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enforcement</title>
</head>
<body>
</body>
</html>
-->

<!DOCTYPE html>



<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8" />

    <title></title>

    <link href="~/css/hazard.css" rel="stylesheet" type="text/css" />

</head>

<body>

    @*<div class="wrapper">

        <div class="nav">

            <div class="left">

                <ul>

                    <li> <a href="index.html" class="mod" href="#">Home</a></li>


                </ul>

            </div>

        </div>

    </div>*@

    <div id="content">

        <h3 class="table-title">Recalls of Health Hazards of Different Classes</h3>



        <table class="tables" align="center">

            <tr>

                <th>Classification</th>

                <th>Recall Number</th>

                <th>Recalling Firm</th>

                <th>City</th>

                <th>Reason for Recall</th>



            </tr>

            <tr>

                <td>Class II</td>

                <td>F-0365-2017</td>

                <td>Wilton Brands</td>

                <td>Woodridge</td>

                <td>Airbrush color has the potential to be contaminated with mold, yeast or bacteria.</td>



            </tr>

            <tr>

                <td>Class I</td>

                <td>F-0562-2013</td>

                <td>Harry and David Operations, Inc</td>

                <td>Medford</td>

                <td>Product received from supplier is being recalled due to the potential to be contaminated with Salmonella</td>



            </tr>

            <tr>

                <td>Class I</td>

                <td>F-2515-2016</td>

                <td>Rabbit Creek Products Inc</td>

                <td>Louisburg</td>

                <td>Bread, muffin, and brownie mixes may have been manufactured with flour contaminated with E. coli O121</td>

            </tr>

            <tr>

                <td>Class II</td>

                <td>F-1676-2015</td>

                <td>Health One Pharmaceuticals Inc</td>

                <td>City Of Industry</td>

                <td>Health One Pharmaceuticals is recalling dietary supplements due to significant violations of the cGMP regulations for dietary supplements.</td>

            </tr>

            <tr>

                <td>Class II</td>

                <td>F-2696-2017</td>

                <td>High Liner Foods Inc.</td>

                <td>Portsmouth</td>

                <td>Product may contain undeclared milk.</td>

            </tr>

        </table>



    </div>

    <div id="footer">



    </div>





</body>

</html>