
<!DOCTYPE html>

<html lang="en">



<head>

    <link rel="stylesheet" type="text/css" href="~/css/main.css">

    <TITLE>FDA</TITLE>

</head>

<body>

    <div class="box">

        <h1>Food Recall Enforcement Overview</h1>

        @*<a href="hazard.html">View Details</a>*@
        <a class="nav-link text-dark" asp-area="" asp-controller="Recall" asp-action="Index">View Enforcement Details</a>

    </div>

</body>

</html>

