@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>BETA VERSION. Please contact us to get more information.
    <ul style="color:black">
        <li style="color:black">Omkar Modak: omodak@mail.usf.edu </li>
        <li style="color:black">Saahil Rasheed: saahilr@mail.usf.edu</li>
        <li style="color:black">Sai Saketh Gopaluni: saisaketh2@mail.usf.edu</li>
    </ul>
    </p>
<BR />

