@model dynamic
@{
    ViewData["Title"] = "Graphs";
}
<head>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <style>
        .jumbotron {
            padding: 0rem 0rem;
            text-align: center;
        }
    </style>
</head>
<div class="jumbotron">
    <h1 class="display-4">State-wise count of Recalls in North America</h1>
    <p class="lead">Encompasses over 18,000 recalls</p>
</div>
<div class="main">
    <div class="content">
        <div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
    </div>
</div>
<script type="text/javascript">
            Plotly.d3.csv("https://raw.githubusercontent.com/gokul1794/assn2-cps/master/csr.csv", function(err, rows){
  function unpack(rows, key) {
  return rows.map(function(row) { return row[key]; });
                }
var trace1 = {
  type: "bar",
  mode: "lines",
    x: @Model.State_Code
,
    y: @Model.points,
  name: 'Spending Rate',
  //x: unpack(rows, 'time_slot_date'),
  //y: unpack(rows, 'cell_value'),
  line: {color: '#00A388'}
}

/*var trace2 = {
  type: "scatter",
  mode: "lines",
  x: unpack(rows, 'Date'),
  y: unpack(rows, 'AAPL.Low'),
  line: {color: '#7F7F7F'}
}*/
                //var data = [trace1,trace2];
var data = [trace1];
var layout = {
  title: 'States in North America',
  xaxis: {
   // range: ['2002-01', '2019-12'],
  //  type: 'date'
  },
  yaxis: {
    autorange: true,
    //range: [86.8700008333, 138.870004167],
    type: 'linear'
  }
};

                var config = { responsive: true }
                Plotly.newPlot('myDiv', data, layout, config);
            })
</script>