html, body {
    margin: 0;
    padding: 0;
    width: 100%
}


.FDA {
    align-content: center;
    width: 600px;
    margin: 0px auto;
}

    .FDA a:hover {
        width: 290px;
        background: #fff;
        color: #333;
    }


body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    background-image: url(honey.png);
    font-size: 16px;
    /*display: table;
    font-family: Quicksand;*/
}



.box {
    height: 110vh;
    width: 100%;
    object-fit:contain;
    background-image: url(img0.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2s;
    /*padding: 200px 300px;*/
    font-size: 15px;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state:  running;
    animation-timing-function:ease-out;
}

@keyframes animate {
    0% {
        background-image: url(img3.jpeg);
    }

    20% {
        background-image: url(img0.jpg);
    }

    40% {
        background-image: url(covid19.jpg);
    }

    60% {
        background-image: url(fda2.jpg);
    }

    80% {
        background-image: url(fda3.png);
    }

    100% {
        background-image: url(fda4.jpg);
    }
}


@media screen and (max-width:959px) {

    .FDA {
        width: 70%;
        margin: 0 auto;
        padding: 0;
    }

    .box {
        width: 30%;
    }

    @keyframes animate {
        0% {
            background-image: url(img3.jpeg);
            width: 100%;
        }

        20% {
            background-image: url(img0.jpg);
            width: 100%;
        }

        40% {
            background-image: url(covid19.jpg);
            width: 100%;
        }

        60% {
            background-image: url(fda2.jpg);
            width: 100%;
        }

        80% {
            background-image: url(fda3.png);
            width: 100%;
        }

        100% {
            background-image: url(fda4.jpg);
            width: 100%;
        }
    }

    @media screen and (max-width:640px) {
        .FDA {
            width: 70%;
            margin: 0 auto;
            padding: 0;
        }

        .box {
            width: 30%;
        }

        @keyframes animate {
            0% {
                background-image: url(img3.jpeg);
                width: 100%;
            }

            20% {
                background-image: url(img0.jpg);
                width: 100%;
            }

            40% {
                background-image: url(covid19.jpg);
                width: 100%;
            }

            60% {
                background-image: url(fda2.jpg);
                width: 100%;
            }

            80% {
                background-image: url(fda3.png);
                width: 100%;
            }

            100% {
                background-image: url(fda4.jpg);
                width: 100%;
            }
        }

        @media screen and (max-width:375px) {
            .FDA {
                width: 70%;
                margin: 0 auto;
                padding: 0;
            }

            .box {
                width: 30%;
            }

            @keyframes animate {
                0% {
                    background-image: url(img3.jpeg);
                    width: 100%;
                }

                20% {
                    background-image: url(img0.jpg);
                    width: 100%;
                }

                40% {
                    background-image: url(covid19.jpg);
                    width: 100%;
                }

                60% {
                    background-image: url(fda2.jpg);
                    width: 100%;
                }

                80% {
                    background-image: url(fda3.png);
                    width: 100%;
                }

                100% {
                    background-image: url(fda4.jpg);
                    width: 100%;
                }
            }
        }
    }
}